.controls {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto; 
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    font-family: 'Montserrat', sans-serif;
}

.controls h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.controls button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.controls button:hover {
    background-color: darkred;
    font-family: 'Montserrat', sans-serif;
}

.controls button:active {
    background-color: #004085;
    font-family: 'Montserrat', sans-serif;
}


